#feedBody {
  max-height: 100vh; /*in react non esiste il body, quindi creo un div che chiamo "Body" e gli do altezza 100% come il body in html*/
  overflow-y: auto; /* mostra la scrollbar solo se necessario */
  
}

#feedCondor-icon {
  height: 2.5rem;
  /* margin-top: 0.5rem; */
  /* margin-left: 2rem; */
}

.feedContainer {
  padding: 0.8rem 0;
}

.feedHeader {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 1rem;
  padding: 0 1rem;
}

.feedHeader #condor-icon2 {
  margin: 0;
}

.feed {
  /* padding: 0 1rem; */
  
  border-top: 1px solid rgb(221, 220, 220);
}

.user-post {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  border-bottom: 1px solid rgb(221, 220, 220);

  padding: 1rem;
}

.user-post .profile-pic {
  flex: 1;

  display: flex;
  justify-content: center;
  align-items: center;
}

.user-post .profile-pic img {
  height: 3rem;
  width: 100%;
  object-fit: cover;
  /* border-radius: 50%; */
  clip-path: circle();
}

.user-post .post-body {
  flex: 5;
}

.user-post .post-username {
  font-weight: bold;
  /* color: #5b3c1d; */
}

.user-post .post-username h {
  font-weight: normal;
}

.user-post .fa-feather {
  color: #dbb77c;
}

.user-post .post-date {
  color: #0000009b;
}

.user-post .post-content img {
  display: block;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.user-post .post-reactions {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 0.8rem;
}

.user-post .post-reactions {
  color: #5b3c1d;
}
