#feedBody {
  max-height: 100vh; /*in react non esiste il body, quindi creo un div che chiamo "Body" e gli do altezza 100% come il body in html*/
  overflow-y: auto; /* mostra la scrollbar solo se necessario */
}

#feedCondor-icon {
  height: 2.5rem;
  /* margin-top: 0.5rem; */
  /* margin-left: 2rem; */
}

.feedContainer {
  padding: 0.8rem 0;
  position: relative;
}

/* questo elemento mi serve per mettere al centro l'icona del condor
e a destra l'icona dell'user */
.feedHeader-container {
  display: flex;
  align-items: end;
  justify-content: flex-end;
}

.feedHeader {
  /* 40px è la width del condor, 14px la width dell'user e 1rem è il l-r-margin */
  width: calc(50% + 40px - 14px - 1rem);
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 1rem 1rem 1rem;
}

.feedHeader i {
  font-size: 1.2rem;
}

.feedHeader #condor-icon2 {
  margin: 0;
}

.feedFooter {
  display: flex;
  justify-content: space-around;
  align-items: center;

  position: fixed;
  bottom: 0px;

  width: 100%;

  border-top: 1px solid rgb(221, 220, 220);

  background-color: #f7f7f7;
}

.feedFooter i {
  margin: 0.5rem 0;

  font-size: 1.3rem;
  color: #5b3c1d;
}

.feedFooter i.fa-feather {
  border: 1px solid #dbb77c;
  border-radius: 50%;

  padding: 0.7rem;

  font-size: 1.5rem;
  color: #dbb77c;
}

.feed {
  margin-bottom: 3rem;

  border-top: 1px solid rgb(221, 220, 220);
}

.user-post {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  border-bottom: 1px solid rgb(221, 220, 220);

  padding: 1rem;
}

.user-post .profile-pic {
  flex: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: -1;
}

.user-post .profile-pic img {
  height: 3rem;
  width: 100%;
  object-fit: cover;
  /* border-radius: 50%; */
  clip-path: circle();
}

.user-post .post-body {
  flex: 5;
}

.user-post .post-username {
  font-weight: bold;
  /* color: #5b3c1d; */
}

.user-post .post-username h {
  font-weight: normal;
}

.user-post .fa-feather {
  color: #dbb77c;
}

.user-post .post-date {
  color: #0000009b;
}

.user-post .post-content img {
  display: block;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.user-post .post-reactions {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 0.8rem;
}

.user-post .post-reactions {
  color: #5b3c1d;
}
