body {
  overflow: scroll;
}

#condor-icon {
  height: 2.5rem;
  /* margin-top: 0.5rem; */
  /* margin-left: 2rem; */
}

.container {
  padding: 0.8rem 0;
  position: relative;
}

/* questo elemento mi serve per mettere al centro l'icona del condor
e a destra l'icona dell'user */
.header-container {
  display: flex;
  align-items: end;
  justify-content: flex-end;
}

.header {
  /* 40px è la width del condor, 14px la width dell'user e 1rem è il l-r-margin */
  width: calc(50% + 40px - 14px - 1rem);
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 1rem 1rem 1rem;
}

.header i {
  font-size: 1.2rem;
}

.header #condor-icon {
  margin: 0;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;

  position: fixed;
  bottom: 0px;

  width: 100%;

  border-top: 1px solid rgb(221, 220, 220);

  background-color: #f7f7f7;
}

.footer i {
  margin: 0.5rem 0;

  font-size: 1.3rem;
  color: #5b3c1d;
}

.footer i.fa-feather {
  border: 1px solid #dbb77c;
  border-radius: 50%;

  padding: 0.7rem;

  font-size: 1.5rem;
  color: #dbb77c;
}

.feed {
  margin-bottom: 3rem;

  border-top: 1px solid rgb(221, 220, 220);
}

.user-post {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  border-bottom: 1px solid rgb(221, 220, 220);

  padding: 1rem;
}

.user-post .profile-pic {
  flex: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: -1;
}

.user-post .profile-pic img {
  height: 3rem;
  width: 100%;
  object-fit: cover;
  /* border-radius: 50%; */
  clip-path: circle();
}

.user-post .post-body {
  flex: 5;
}

.user-post .post-username {
  font-weight: bold;
  /* color: #5b3c1d; */
}

.user-post .post-username h {
  font-weight: normal;
}

.user-post .fa-feather {
  color: #dbb77c;
}

.user-post .post-date {
  color: #0000009b;
}

.user-post .post-content img {
  display: block;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.user-post .post-reactions {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 0.8rem;
}

.user-post .post-reactions {
  color: #5b3c1d;
}

/* Comments styling */
.comments-container {
  position: relative;
  height: 100vh;
  overflow-y: scroll;
}

.comments-header {
  padding: 1.3rem 1.6rem;
  font-size: 1.3rem;
  font-weight: 800;

  margin-bottom: 1rem;
}

.comments-header i {
  margin-right: 0.7rem;
}

.comments-list {
}

.user-comment {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  border-bottom: 1px solid rgb(221, 220, 220);

  padding: 1rem;
}

.user-comment .profile-pic {
  flex: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: -1;
}

.user-comment .profile-pic img {
  height: 3rem;
  width: 100%;
  object-fit: cover;
  clip-path: circle();
}

.user-comment .comment-body {
  flex: 5;
}

.user-comment .comment-username {
  font-weight: bold;
  /* color: #5b3c1d; */
}

.user-comment .comment-username h {
  font-weight: normal;
}

.user-comment .fa-feather {
  color: #dbb77c;
}

.user-comment .comment-date {
  color: #0000009b;
}

.write-comment {
  position: fixed;
  bottom: 0px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;

  padding: 1rem 1.3rem;

  background-color: #fbfbfb;
}

.write-comment input {
  flex: 8;

  font-size: 1.1rem;

  outline: none;
  border-radius: 9999px;
  border: 1px solid #5b3c1d;

  padding: 0.6rem;
}

.write-comment i {
  text-align: right;
  flex: 1;

  color: #dbb77c;
  font-size: 1.2rem;
}
