/* COLOR PALETTE
- Metallic Bronze: #5B3C1D
- Tumbleweed: #DBB77C 
- Edward: #A3B3B3
- Oslo Grey: #949797
*/

/* IMPORTS */
@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;800&display=swap");

:root {
  --primary-color: #5b3c1d;
  --secondary-color: #dbb77c;
}

* {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
}

body {
  background-color: #f7f7f7;
  min-height: 100vh;
  font-family: Mukta, Arial, sans-serif;
  overflow:hidden;
}
.squeals-list{
  max-height: 60vh;
  overflow-y: auto; 
}

a {
  text-decoration: none;
  color: #000;
}

a:active {
  color: #000;
}

.container {
  padding: 2.5rem 2rem 0 2rem;
}

#condor-icon {
  height: 6rem;
  margin-top: 0.5rem;
  /* margin-left: 2rem; */
}

.title {
  /* padding: 1rem 2rem; */

  margin: 1rem 0;

  font-size: 2.5rem;
  font-weight: bold;
  line-height: 100%;
  color: #dbb77c;
}

.subtitle {
  /* padding: 1rem 2rem; */

  margin: 1rem 0;

  font-weight: bold;
  font-size: 1.3rem;
}

.btm-title {
  /* padding: 1rem 2rem 0rem 2rem; */

  margin-top: 1rem;

  font-weight: 500;
  font-size: 1.6rem;
}

.btns-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 13vh;

  /* padding: 1rem 2rem;
  margin-bottom: 1.5rem; */

  margin: 1rem 0 1.5rem 0;
}

.btn {
  border-radius: 9999px;

  width: 100%;

  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  color: #f7f7f7;
  background-color: #895b2c;

  padding: 0.4rem 0rem;
  margin-bottom: 1rem;

  transition: 0.1s linear;
}

.btn:active {
  background-color: #62411f;
  color: #e1e1e1;
}

#btn-registrati {
}

#btn-accedi {
}

#btn-pro-zone {
  color: #895b2c;
  background-color: #f7f7f7;
  border: 1px solid #895b2c;
}

#btn-pro-zone:active {
}

.divider {
  display: flex;
  justify-content: center;
  align-items: center;

  /* padding: 0.4rem 2rem; */

  margin: 0.4rem 0;

  color: #222;
}

.divider-text {
  margin: 0 0.6rem;
}

.divider-line {
  width: 100%;
  border-bottom: 1px solid #949797;
}

/* Sign Up form */
.step {
  padding: 1.5rem 2rem;
  font-size: 1.3rem;
  font-weight: 800;
}

.x-step {
  margin-right: 1rem;
  font-weight: 500;
  text-transform: uppercase;
}

#signup-form {
  padding: 1rem 2rem;
  margin-bottom: 7rem;
}

#signup-form .title {
  padding: 0;

  font-size: 2rem;
  /* color: #dbb77c; */
}

#signup-form .t-small {
  font-size: 2rem;
  line-height: 120%;
}

#signup-form .s-small {
  font-weight: 600;
}

#signup-form input[type="text"],
#signup-form input[type="email"],
#signup-form input[type="password"] {
  margin-top: 1.5rem;
  width: 100%;

  padding: 1rem;

  border: 1px solid #949797;
  border-radius: 5px;

  font-size: 1.3rem;
  background-color: #f7f7f7;
}

#signup-form .form-text {
  margin-top: 2rem;
  font-weight: 500;
  font-size: 1.4rem;
}

#signup-form .birth-container {
  display: flex;
  justify-content: space-around;
  align-self: center;

  margin-bottom: 3rem;
}

#signup-form .birth-container input[type="text"] {
  margin-top: 1rem;
}

#signup-form .birth-container #b-day {
  flex: 1;
}

#signup-form .birth-container #b-month {
  flex: 1;
  margin-left: 1rem;
}

#signup-form .birth-container #b-year {
  flex: 2;
  margin-left: 1rem;
}

#signup-form .pro-box {
  font-size: 1.3rem;
}

#signup-form .pro-box label {
  display: block;
  margin-bottom: 0.5rem;
}

#signup-form .pro-box select {
  width: 100%;
  padding: 1rem;
  border: 1px solid #949797;
  border-radius: 5px;
  background-color: #f7f7f7;
  font-size: 1.3rem;
  color: #000;
}

#signup-form .pro-box #pro-check {
  margin-right: 1rem;
}

#signup-form .pro-note {
  font-size: 0.8rem;
  font-weight: 200;
  margin-top: 0.5rem;
}

#signup-form .pro-note span {
  font-weight: 400;
}

#signup-form .btn {
  position: fixed;
  bottom: 0;
  width: 85%;
  left: 50%; /* centra il bottone orizzontalmente */
  transform: translateX(
    -50%
  ); /*sposta il bottone a sinistra del 50% della sua larghezza*/
  text-align: center;
  z-index: 10;
}

#signup-form #btn-signup-2 {
  position: fixed;
  bottom: 0;
  width: 85%;
  left: 50%; /* centra il bottone orizzontalmente */
  transform: translateX(
    -50%
  ); /*sposta il bottone a sinistra del 50% della sua larghezza*/
  text-align: center;
  z-index: 10;
}

#signup-form #btn-signup-3 {
  position: absolute;
  bottom: 0;
  width: 85%;
  left: 50%; /* centra il bottone orizzontalmente */
  transform: translateX(
    -50%
  ); /*sposta il bottone a sinistra del 50% della sua larghezza*/
  text-align: center;
}

#signup-form #btn-signup-4 {
  position: absolute;
  bottom: 0;
  width: 85%;
  left: 50%; /* centra il bottone orizzontalmente */
  transform: translateX(
    -50%
  ); /*sposta il bottone a sinistra del 50% della sua larghezza*/
  text-align: center;
}

#signup-form ul.pw-requisites {
  list-style-position: inside;

  margin-top: 0.9rem;
  margin-bottom:1.5rem;
  font-size: 0.9rem;
  font-weight: 200;
  color: #949797;
}

#signup-form i {
  display: block;
  text-align: center;
  margin-top: 5rem;
}

#signup-form textarea#description-box {
  background-color: #f7f7f7;
  width: 100%;
  border-radius: 5px;
  padding: 2rem 0.8rem 0.8rem 0.8rem;
}

#signup-form .t-area-container {
  position: relative;
}

#signup-form .t-area-container .word-counter {
  position: absolute;
  top: 0;
  right: 0;

  margin: 0.5rem 0.8rem 0 0;

  font-size: 0.8rem;
}

/* Aggiungi questo stile per la label personalizzata */
.btn-select-file {
  border-radius: 9999px;
  width: 100%; /* Imposta la larghezza al 100% per allineare con il pulsante "Avanti" */
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  color: #f7f7f7;
  background-color: #895b2c;
  padding: 0.4rem 0rem;
  margin-bottom: 1rem;
  cursor: pointer;
  display: block; /* Rende la label un elemento blocco per occupare l'intera larghezza del contenitore */
}

/* Aggiungi questo stile per la label personalizzata quando è attiva (cliccata) */
.btn-select-file:active {
  background-color: #62411f;
  color: #e1e1e1;
}

.input-wrapper {
  position: relative;
}

.password-input {
  width: 100%;
  /* ... altri stili per l'input ... */
}

.toggle-password {
  position: absolute;
  right: 10px; /* o quanto necessario per allinearla con il design */
  top: 65%;
  transform: translateY(-50%);
  cursor: pointer;
  width: 8%;
  /* Stili aggiuntivi per rendere l'icona come desiderato */
}
