/* COLOR PALETTE
- Metallic Bronze: #5B3C1D
- Tumbleweed: #DBB77C 
- Edward: #A3B3B3
- Oslo Grey: #949797
*/

body {
  background-color: #fff;
  overflow: scroll;
}

.subtitle {
  padding: 0 1rem;

  color: #dbb77c;

  margin-bottom: 0;

  font-size: 1.8rem;
  font-weight: 600;
}

.write-container p {
  padding: 0 1rem;
  margin-bottom: 1rem;

  line-height: 0.7rem;

  color: #949797;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem 1.5rem;
}

.header #post-squeal {
  color: #dbb77c;
  /* background-color: #fbfbfb; */

  font-weight: bold;

  border: 2px solid #dbb77c;
  border-radius: 9999px;

  padding: 0.3rem 0.8rem;
}

.header #post-squeal:active {
  color: #fff;
  background-color: #dbb77c;
}

.header .x-step {
  font-size: 1.2rem;
}

.squeal-body {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  padding: 1rem;
}

.squeal-body .profile-pic {
  width: 20%;
  display: flex;

  align-items: center;

  z-index: -1;
}

.squeal-body .profile-pic img {
  max-height: 3rem;
  object-fit: cover;
  clip-path: circle();
}

.squeal-body .text-content {
  flex: 5;

  width: 100%;
  height: 10rem;

  padding: 0 0.7rem;

  font-size: 1rem;

  /* background-color: #fbfbfb; */
  outline: none;
  border: 0;
}

.media-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;

  color: #dbb77c;

  border-bottom: 1px solid rgb(221, 220, 220);

  padding: 0 1rem 1rem 1.5rem;
}

.char-interface {
  display: flex;
  flex-direction: column;

  padding: 1rem;
}

.char-interface .word-counter {
  border-radius: 9999px;
  border: 1px solid #5b3c1d;

  color: #5b3c1d;
  text-align: center;
  padding: 0.2rem 0.5rem;
}

.char-interface .word-counterRed {
  border-radius: 9999px;
  border: 1px solid red;
  color: red;
  text-align: center;
  padding: 0.2rem 0.5rem;
}

#buy-char {
  float: right; /* Posiziona il div a destra */
  border-radius: 9999px;
  border: 2px solid #5b3c1d;
  color: #5b3c1d;
  font-weight: bold;
  padding: 5px 15px;
  margin-bottom: 2%;
  margin-right: 2%;
  cursor: pointer;
  transition: 0.3s all ease;
}

#buy-char.inactive {
  opacity: 0.2;
}

#recipients-list {
  width: 100%;
  height: 4rem;

  padding: 0 1rem;

  font-size: 1rem;

  /* background-color: #fbfbfb; */
  outline: none;
  border: 0;
}

.characterUsed {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2%;
  padding: 2%;
}

.automaticMessages {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1rem 1.5rem;
}

.automaticMessages #temporizzato {
  color: #dbb77c;
  /* background-color: #fbfbfb; */
  font-weight: bold;
  border: 2px solid #dbb77c;
  border-radius: 9999px;
  padding: 0.3rem 0.8rem;
  margin-right: 0.01rem;
}

#input-temp {
  border: 1px solid #949797;
  border-radius: 9999px;
  padding: 0.3rem 1rem;
  font-size: 1rem;
  color: #333;
  outline: none;
  width: 15%;
  height: 10%;
}

#repetition-parameters {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 5%;
}

#repetition-parameters p {
  margin-top: 3%;
}

.randomNewsAndImage{
  color: #dbb77c;
  font-weight: bold;
  border: 2px solid #dbb77c;
  border-radius: 9999px;
  padding: 0.3rem 0.8rem;
  margin-right: 0.01rem;
  font-size: 0.8rem;
}

